proxy:
  router:
    upstreams:
      legacy: http://localhost:8080
      orders: http://localhost:9000
      users: http://localhost:9001

    default: legacy

    routes:
      - host: new.api.ex
        default: legacy
        pathes:
          - path: /api/orders
            upstream: orders

          - path: /api/users
            upstream: users
        
      - host: old.api.ex
        pathes:
          - path: /
            upstream: legacy
    
  limiter:
    type: token_bucket
    algorithm:
      capacity: 100
      rate: 100.5
      
edge_limiter:
  is_global: true
  limiter:
    type: fixed_window
    algorithm:
      limit: 4
      window_duration: 1s
    storage: 
      ttl: 1s

metrics:
  hosts:
    - localhost
