proxy:
  rules:
    hosts:
      - host: "example.com"
        pathes:
          "/api": "http://localhost:9000"
          "/auth": "http://localhost:9001"
        default: "http://localhost:9002"

      - host: "another.com"
        pathes:
          "/": "http://localhost:9100"
        default: "http://localhost:9101"

    default: http://localhost:9200

  limiter:
    type: "fixed_window"
    algorithm:
      limit: 4
      window_duration: 1s
    storage: 
      ttl: 20s


edge_limiter:
  limiter:
    type: "fixed_window"
    algorithm:
      limit: 4
      window_duration: 1s
    storage: 
      ttl: 20s
  is_global_limiter: true

metrics:
  hosts:
    - "localhost"
