services:
  redis:
    image: redis:7
    command: ["redis-server", "--databases", "2"]
    volumes:
      - redis-data:/data
    networks:
        redis-net:
          aliases:
          - redis
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 2s
      retries: 3

  gateway:
    build: .
    container_name: gateway
    ports:
      - "8080:80" 
    volumes:
      - ./config.yaml:/usr/etc/gateway/config.yaml:ro
    environment:
      EDGE_LIMITER_REDIS_URL: "redis://redis:6379/0"
      INTERNAL_LIMITER_REDIS_URL: "redis://redis:6379/1"
    depends_on:
      redis:
        condition: service_healthy
    networks:
      - global-net
      - redis-net
    restart: unless-stopped
    healthcheck:
      test: ["CMD", "wget", "-qO-", "http://localhost:80/health"]
      interval: 10s
      timeout: 2s
      retries: 3

volumes:
  redis-data:

networks:
  redis-net:
    driver: bridge

  global-net:
